/* src/pages/HomePage.scss */
@import url('https://fonts.googleapis.com/css2?family=Inconsolata&display=swap');

$goldenHoney: #FFB300; // A nice honey color!
$AmberSyrup: #D9822B; // A darker honey color!
$CreamWax: #FFF8E1; // a cream colour for text
$CharcoalBee: #3B3B3B; // A dark color for text
$Pollen: #F4E285; // A light yellow color for background
$BeachWood: #A66F2B; // A light brown color for background
$CloverLeaf: #A4C956; // I probably wont use this one, but its there
$Digifont: 'Inconsolata', monospace;

// background for the entire site 

.beeA{
    height: 100px;
    width:auto;
    align-self: center;
    margin: 0 auto;
    display: block;
    padding: 0px 0px 0px 0px;
    
    
}
.contact-container h1{
    font-size: 1rem;
    color: $CreamWax;
    font-family: $Digifont;
    
}
.contact-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 100%;
    width: 100%;
}

.InputContainer h2{
    font-size: 1rem;
    color: $CreamWax;
    font-family: $Digifont;
}

.txtbox{
    background-color: $goldenHoney;
    color: $CharcoalBee;
    border: 2px solid $CloverLeaf;
    border-radius: 5px;
    padding: 10px;
    margin: 2px 0;
    font-family: $Digifont;
}

.SubmitButtonContainer{
    padding: 50px;
}
.SubmitButton {
    padding: 25px 60px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    color: $CharcoalBee;
    background-color: $Pollen;
    font-family: $Digifont;
}