/* src/pages/HomePage.scss */
@import url('https://fonts.googleapis.com/css2?family=Inconsolata&display=swap');

$AmberSyrup: #D9822B; // A darker honey color!
$Pollen: #F4E285; // A light yellow color for background

.site-footer{
     background-color: $AmberSyrup; 
     padding: 1cqh; 
     text-align: center;
    
}
.h1{
    color: $Pollen;
    font-size: 2rem;
    font-family: 'Inconsolata', monospace;
}