/* src/pages/HomePage.scss */
@import url('https://fonts.googleapis.com/css2?family=Inconsolata&display=swap');


$goldenHoney: #FFB300; // A nice honey color!
$AmberSyrup: #D9822B; // A darker honey color!
$CreamWax: #FFF8E1; // a cream colour for text
$CharcoalBee: #3B3B3B; // A dark color for text
$Pollen: #F4E285; // A light yellow color for background
$BeachWood: #A66F2B; // A light brown color for background
$CloverLeaf: #A4C956; // I probably wont use this one, but its there
$Digifont: 'Inconsolata', monospace;

// background for the entire site 
body {
  background-color: $goldenHoney;
  overflow-x: hidden; // only hide horizontal scroll, not vertical
}

// the main hompage container 
.homepage-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  text-align: center;
  flex-direction: column;
  font-family: $Digifont;
  padding: 0rem;
  color: $CreamWax;
}

// header within the homepage container 
.homepage-container h1 {
  font-size: 3rem;
  font-family: $Digifont;
  text-wrap: nowrap;
  color: $CreamWax; /* A nice honey color! */
  margin-bottom: 0.5rem;
  filter: drop-shadow(0.08rem 0.2rem 0.04rem $CharcoalBee) brightness(1.1);
}

// h2 small text within the homepage container - still bold
.homepage-container h2 {
  font-size: 1.2rem;
  color: #333;
  margin-top: -4rem;
}

//#region IconStyling
.bee-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.05rem;
  margin-bottom: 2rem;
  position: relative;
  img {
    width: 200px;
    height: auto;
    image-rendering: pixelated;
    filter: drop-shadow(0.08rem 0.08rem 0.04rem $CharcoalBee) brightness(1.1);
  }
}

.bee {
  position: relative;
  top: 50%;
  left: -60%;
}

.honey-wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); // centers it on both axes
  z-index: 1; // keeps it above background if needed
}

.honey {
  width: 100px;
  transform-origin: top center; // essential for clean swing
  &:hover {
    filter: drop-shadow(0 0 10px #ffe600);
    filter: brightness(1.5); /* gold glow */
  }
}
//#endregion IconStyling


