/* src/pages/HomePage.scss */
.homepage-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  text-align: center;
  flex-direction: column;
  padding: 2rem;
}

.homepage-container h1 {
  font-size: 3rem;
  color: #ff6347; /* A nice honey color! */
}

.homepage-container p {
  font-size: 1.2rem;
  color: #333;
}
